.l-container,
[class*="l-container--"] {
    width:95%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

.l-container--between {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
}

.l-container--single {
	max-width: 800px;
}

.grid {
	--grid-columns  : repeat(2, 1fr);
	--grid-gap      : 1.6rem 1.4rem;
	display: grid;
	grid-template-columns: var(--grid-columns);
	grid-gap: var(--grid-gap);

    @include from (medium) {
        --grid-columns : repeat(3,1fr);
    }

    @include from (large) {
        --grid-columns : repeat(4,1fr);
    }

}