$breakpoints: (
    medium:640px,
    large:1024px,
);

$fonts: (
    t1:28px,
    t2:21px,
    t3:19px,
    normal:17px,
    small:15px,
    smaller:13px,
);

$light:300;
$normal:400;
$bold:700;